html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#b91a37, #000000);
}

.card {
  background: #171717;
  width: 33.333%;
  height: 33.333%;
  position: center;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: left;
  display: flex;
  font-size: 1.5em;
  color: rgb(245 0 0 / 0%);
  cursor: pointer;
  font-family: cursive;
}
